
@{
    Layout = "_Layout";
}

<style>

    .dataTables_wrapper.container-fluid.dt-bootstrap4.no-footer {
        padding: 0;
    }

    .btn-outline-custom {
        border: #ff5722;
        background: #ff5722;
    }

    .form-control:focus {
        border: 1px solid #ff5722;
        box-shadow: none;
    }

    .btn-outline-custom:hover {
        border: #ff5722;
        background: #ff5722;
    }

    #bootstrap-data-table_filter {
        display: none;
    }

    .actions-bar {
        display: flex;
        justify-content: space-between;
    }

    .bage-cus-available {
        background: #ff5722 !important;
        width: 100%;
    }

    .bage-cus-lock {
        background: #721c24 !important;
        width: 100%;
    }

    .bage-cus-out-of {
        background: #856404 !important;
        width: 100%;
    }

    i.fa {
        color: #ffffff;
    }
</style>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h2>QUẢN LÝ SẢN PHẨM</h2>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 actions-bar">
                                <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Nhập thông tin cần tìm ..."
                                           aria-label="Search">

                                    <button class="btn btn-outline-primary btn-outline-custom my-2 my-sm-0"
                                            type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                                <a href="@Url.Action("Create","Product")" class="btn btn-success btn-primary-custom pull-right">
                                    <i class="fa fa-plus-square"></i>
                                    Thêm
                                </a>
                            </div>

                        </div>
                        <br>
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Hình ảnh</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá gốc</th>
                                    <th>Giá bán</th>
                                    <th>Số lượng tồn</th>
                                    <th>Tình trạng</th>
                                    <th>Thao tác</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (SanPham i in Model.content)
                                {
                                    <tr>
                                        <td class="product-img">
                                            <img style="height: 45px" src="@i.Hinh">
                                        </td>
                                        <td>
                                            @i.Ten
                                        </td>

                                        <td>@ViewBag.giaGoc</td>
                                        <td>@ViewBag.giaBan</td>
                                        <td>@ViewBag.slton</td>
                                        <td>
                                            <span class="badge bage-cus-available badge-warning">
                                                @ViewBag.trangthai
                                            </span>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-warning btn-primary-custom" 
                                               href="@Url.Action("Detail", "Product", new { id = 1 })">
                                                <i class="fa fa-align-justify"></i>
                                            </a>

                                            <button class="btn btn-sm btn-warning btn-primary-custom">
                                                <i class="fa fa-edit"></i>
                                            </button>

                                            <button class="btn btn-sm btn-warning btn-primary-custom">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
